.iphone-bg {
  background-image: url('/assets/android-bg.png');
  background-repeat: no-repeat;
  height: 490px;
  // background-color: red;
  width: 50%;
}

.android-bg {
  background-image: url('/assets/iphone-bg.png');
  background-repeat: no-repeat;
  height: 490px;
  // background-color: red;
  width: 100%;
}